modules = ["python-3.12"]
run = "python ver_jugadores_filtrados.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python ver_jugadores_filtrados.py"]

[[ports]]
localPort = 8080
externalPort = 80
